a {
  text-decoration: none;
}

[class^="calibre"] img {
  max-width: 50%;
  display: block;
  margin: 5px auto;
}

[class^="calibre_navbar"] {
  display: none;
}

[class^="calibre"] h1 {
  font-size: 28px;
  color: #e3120b;
}

body {
  line-height: 1.3;
}

.calibre8 {
  display: none;
}
